html, body { margin: 0; }
body { font-size: 16px; }
@media screen {
  body { padding: 0 10px 30px; }
}
.float-right { float: right; }
[onclick] { cursor: pointer; }

.no-select, .tip, #top-bar, .gray-btn,
.hz-yin sub, .char-box.num > .hz-yin {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none; }

.weight { font-size: .6em; }
.gana { font-size: .8rem; }
.weight, .gana { color: #999;
  font-family: Monaco, Courier New, Consolas, Menlo, monospace; }
body:not(.show-weight) .weight { display: none; }

a { text-decoration:none; }
#top-bar > span.home { float: left; margin-top: -4px; }
.home img { width: 18px; height: 18px; }
.home > * { vertical-align: middle; }

.row { margin-bottom: .5em; }
.indent { margin-left: 20px; }
.deva-row { margin-bottom: -.3em; }
.row.title { text-align: center; }

.deva {
  font-family: "Tiro Devanagari Sanskrit", "Sanskrit 2003", sans-serif;
  font-size: 1.5em;
  color: #000;
}
.iast, .iast-row {
  color: #555;
  font-family: "Microsoft Sans Serif", "Arial Unicode MS", sans-serif;
}
.iast { margin-bottom: .3em; }
.iast-org { font-weight: 300; font-size: .9em; margin-bottom: .9em; }
.iast-org b { color: #000; }
.iast-org::before { content: "[org] "; font-size: .8em; color: #aaa; }

.iast-org, #top-bar, .tip, .tip a, .title.no-print { color: #777; }
.word span.sp, .sec-title, .note, .note > a { color: #aaa; }
.note, .note > a { font-size: 9px; }
.tip { font-size: 11px; }

.show-odd .deva .a.odd { color: #171; }
.show-odd .iast .a.odd { color: #aa6; }
@media print {
  .show-odd .iast .a.odd { color: #171; }
  .show-odd .iast .a.even { color: #000; }
}
.word .punc { color: #999; }
.word[first-char="|"] .a { color: #666 !important; }
.punc[first-char="♪"] { font-size: .9rem; margin-right: .2rem; }
.word:not(.has-sub-word), .sub-word { display: inline-block; }
[data-hz] { font-family: "宋体", SimSun, serif; font-size: 1rem; }

@media screen {
  .hover-word .deva.word:not(.has-sub-word).hover,
  .hover-word .deva .sub-word.hover {
    box-shadow: 0 1px #ccc inset;
  }

  .hover-word .iast.word:not(.has-sub-word).hover,
  .hover-word .iast .sub-word.hover {
    box-shadow: 0 -1px #ccc inset;
  }

  .deva.word:not(.has-sub-word).hover,
  .deva .sub-word.hover {
    font-weight: bold;
  }
}

.sec-title { font-size: 1em; margin-block-start: .3em; margin-block-end: .3em;}
.section > .sec-title::after {
  font-family: "Arial Unicode MS", Arial, sans-serif;
  content: "▴";
  margin-left: 1em;
  color: #ccc;
}
.section > .sec-title:hover::after { color: #0d66c2; }
.section.collapse > .sec-title::after { content: "…"; }
.section.collapse .row, .si { display: none; }
.section + .section { margin-top: 1em; }

#top-bar {
  box-shadow: 0 -1px #ddd inset;
  font-size: 12px;
  padding: 8px 4px;
  margin: 0 -10px 8px;
  text-align: right;
}

#top-bar > span { margin: 0 2px; padding: 2px 4px; border: 1px solid transparent; cursor: pointer; }
#top-bar > span.checked { border-color: #ccc; border-radius: 4px; }
.gray-btn { color: #ccc; font-size: 12px; cursor: pointer; }

#top-bar { position: fixed; top: 0; height: 18px; left: 0; right: 0; padding-right: 10px;
  font-size: 12px; z-index: 100; }
#top-bar, #down-div { background-color: rgba(255,255,255,.95); }
@media screen {body { padding-top: 38px; }}

body:not(.show-deva) .deva-row,
body:not(.show-iast) .iast-row,
body:not(.hover-word) span.sp:not(.space),
body:not(.show-audio) .audio-button { display: none; }

@media print {
  #top-bar, .down-div, .note, .audio-button, .gray-btn,
  .no-print, #down-div, .section > .sec-title::after { display: none; }
  .audio-button::after { width: 0; opacity: 0; }
  #body { width: fit-content; margin: 0 auto; }
}

/* .row > .iast-row.has-hz-yin > .char-box > .hz-yin */

.has-hz-yin { display: flex; flex-wrap: wrap; }
.char-box:not(.num) { text-align: center; font-size: 1.35em; }
.char-box.sp { min-width: .6em; }
.char-box.punc { font-size: .9em; color: gray; padding-top: .2em; }
.char-box > span:first-child { font-size: .85em; }

.hz-yin { display: block; font-size: .6em; white-space: nowrap;
    font-family: "宋体", SimSun, KaiXinSong, HanaMin, serif; color: #333; }
.char-box:not(.num) .hz-yin:not(.ancient) { font-size: .8em; margin-bottom: .2em; }
@media print {
  .char-box:not(.num) .hz-yin:not(.ancient) { color: #000; font-weight: 500; }
}
.hz-yin .digraph { margin-left: .1em; margin-right: .1em; text-decoration: underline;
    text-underline-position: under; text-decoration-color: #999; }
.hz-yin.heavy .digraph { text-decoration-color: #222; }
.hz-yin small, .hz-yin sub { font-size: .55em; font-weight: 300; margin-left: -.1em; color: #000; }
.digraph + small, .digraph + sub { margin-left: -.2em; }
.hz-yin sub { margin-bottom: -.5em; display: inline-block; }
.pin { border: 1px dotted #ddd; border-radius: 4px; }
.pin:not(:has(small)) { font-size: .8em; }
.hz-yin .pin > small { font-size: .7em; }

.char-box.num { margin-right: .3em; margin-top: -.1em; }
.char-box.num > :first-child { font-size: .6em; color: #999;
    padding-top: 1em; padding-bottom: .2em; display: inline-block; }
.char-box.num > .hz-yin { opacity: .6; font-size: .6em; color: #bbb;
    padding-top: .7em; padding-bottom: .4em; }
.char-box.num > :first-child::before { content: "("; color: #ccc; }
.char-box.num > :first-child::after { content: ")"; color: #ccc; }
.char-box.num > .hz-yin::before { content: "["; color: #aaa; font-size: .6em; }
.char-box.num > .hz-yin::after { content: "]"; color: #aaa; font-size: .6em; }
.char-box.num > .hz-yin.ancient {}
#iast-1 .char-box.num:first-child > .hz-yin { opacity: 1; color: #999; }
.show-hz-yin .char-box.num > .hz-yin.ancient {}
.show-hz-yin .char-box:not(.num) .hz-yin.ancient { color: #686; font-weight: 300; }
.show-hz-yin .row:not(.has-note) { margin-bottom: -.05em; }
.show-hz-yin .row.has-note { margin-top: .3em; font-size: .8em; }

/* only show one of iast, hz-yin and ancient: show as inline-blocks */

body:not(.show-hz-yin):not(.show-ancient) .has-hz-yin,
body:not(.show-iast1):not(.show-ancient) .has-hz-yin,
body:not(.show-hz-yin):not(.show-iast1) .has-hz-yin { display: block; }

body:not(.show-hz-yin):not(.show-ancient) .char-box,
body:not(.show-iast1):not(.show-ancient) .char-box,
body:not(.show-hz-yin):not(.show-iast1) .char-box { display: inline-block; }

body:not(.show-iast1):not(.show-ancient) .hz-yin:not(.ancient),
body:not(.show-hz-yin):not(.show-iast1) .hz-yin.ancient { display: inline-block; }

body:not(.show-iast1) .char-box > span:first-child, /* exclude .char-box.num > small:first-child */
body:not(.show-hz-yin) .hz-yin:not(.ancient),
body:not(.show-ancient) .hz-yin.ancient { display: none !important; }
body:not(.show-iast1) .char-box.num .hz-yin { display: none; }
